//
//  GDPR Cookie Compliance
//  ____________________________________________

//
//  Variables
//  _____________________________________________

@amgdprcookie-text__color: #363636;
@amgdprcookie-btn__background: #ef7c4a;
@amgdprcookie-toogle-disable__background: #e8e8e8;
@amgdprcookie-toogle-normal__background: #a5a5a5;
@amgdprcookie-toogle-checked__background: #1979c3;
@amgdprcookie-link__hover__color: #1787e0;
@amgdprcookie-btn__close: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iOC41IiBjeT0iOC41IiByPSI4IiBzdHJva2U9IiNDQUNBQ0EiLz48cGF0aCBkPSJNNS4yNSA1LjI1bDYuNSA2LjVtMC02LjVsLTYuNSA2LjUiIHN0cm9rZT0iI0NBQ0FDQSIvPjwvc3ZnPg==');

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amgdprcookie-main-wrapper {
        & {
            color: @amgdprcookie-text__color;
        }

        .amgdprcookie-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .amgdprcookie-head {
            font-size: 20px;
            line-height: 20px;
        }

        .amgdprcookie-btn-wrapper {
            display: flex;
        }

        .amgdprcookie-btn {
            & {
                padding: 7px 27px;
                border: 0;
                font-size: 14px;
                color: #fff;
                border-radius: 6px;
                .lib-css(background, @amgdprcookie-btn__background);
                box-shadow: 0 3px 5px rgba(62, 40, 13, .15);
                text-transform: uppercase;
            }

            &:first-child {
                margin: 0 15px;
            }

            &:hover {
                background: darken(@amgdprcookie-btn__background, 10%);
            }
        }
    }

    .amgdprcookie-toggle-cookie {
        & {
            position: relative;
            padding-left: 50px;
        }

        .amgdprcookie-input {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        .amgdprcookie-label {
            & {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 29px;
                border-radius: 40px;
                cursor: pointer;
                background: @amgdprcookie-toogle-normal__background;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
            }

            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 25px;
                height: 25px;
                background: #fff;
                border-radius: 40px;
                transition: all .4s ease;
            }
        }

        .amgdprcookie-input:checked:disabled + .amgdprcookie-label {
            & {
                background: @amgdprcookie-toogle-disable__background;
            }

            &:after {
                left: calc(95%);
                transform: translateX(-100%);
            }
        }

        .amgdprcookie-input:checked:not([disabled]) + .amgdprcookie-label {
            & {
                background: @amgdprcookie-toogle-checked__background;
            }

            &:after {
                left: calc(95%);
                transform: translateX(-100%);
            }
        }

        .amgdprcookie-input:not([checked]) + .amgdprcookie-label {
            & {
                background: @amgdprcookie-toogle-normal__background;
            }
        }

        .amgdprcookie-input:disabled + .amgdprcookie-label {
            & {
                background: @amgdprcookie-toogle-disable__background;
            }

            &:after {
                left: 2px;
            }
        }
    }

    .amgdprcookie-settings-form .amgdprcookie-toggle-cookie .amgdprcookie-input.disabled + .amgdprcookie-label {
        background: @amgdprcookie-toogle-disable__background;
    }

    .amgdprcookie-cookie-container {
        & {
            margin-bottom: 20px;
            padding-top: 15px;
            border-radius: 6px;
            box-shadow: 0 3px 10px rgba(5, 32, 65, .15);
        }

        &.-modal {
            margin-right: 30px;
            box-shadow: none;
            direction: ltr;
        }

        .amgdprcookie-header {
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
        }

        .amgdprcookie-caption {
            margin: 0 0 15px;
            font-size: 16px;
            font-weight: bold;
            line-height: 30px;
            word-break: break-all;
            word-break: break-word;
        }
        .amgdprcookie-text {
            margin-bottom: 5px;
            padding: 0 15px;
            font-size: 12px;
            color: @amgdprcookie-text__color;
        }

        .amgdprcookie-options {
            & {
                position: relative;
                margin-top: 15px;
                padding: 7px 15px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                background: #767676;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 16px;
                height: 2px;
                width: 10px;
                background: #fff;
            }

            &:before {
                right: 20px;
                transform: rotate(45deg);
            }

            &:after {
                right: 14px;
                transform: rotate(-45deg);
            }
        }

        .amgdprcookie-check.active .amgdprcookie-options {
            & {
                border-radius: 0;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }
    }

    .amgdprcookie-content-wrapper {
        & {
            display: none;
            padding: 0 15px;
            border-radius: 6px;
            background: #f9f9f9;
            font-size: 12px;
        }

        .amgdprcookie-title {
            padding: 15px 15px 0 0;
            vertical-align: top;
        }

        .amgdprcookie-row {
            & {
                border-bottom: 1px solid #ccc;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .amgdprcookie-table .amgdprcookie-cell {
            & {
                padding: 15px 15px 15px 0;
                word-break: break-all;
                word-break: break-word;
            }

            &:first-child {
                width: 23%;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .amgdprcookie-cookie-container .amgdprcookie-link {
        display: block;
        color: #389dfe;
        text-align: right;
        text-transform: capitalize;
        letter-spacing: .3px;
        font-size: 12px;
    }

    .amgdprcookie-modal-container.modal-popup.modal-slide {
        right: 46px;
        left: 0;
        pointer-events: none;
    }

    .amgdprcookie-modal-container .modal-inner-wrap {
        & {
            position: relative;
            margin: 0;
            height: 100%;
        }

        .modal-header {
            position: absolute;
            right: 0;
        }

        .action-close {
            & {
                margin: 5px;
                padding: 0;
            }

            &:before {
                width: 30px;
                height: 30px;
                background: @amgdprcookie-btn__close no-repeat center;
                content: '';
            }
        }

        ::-webkit-scrollbar {
            margin-left: 10px;
            width:4px;
        }

        ::-webkit-scrollbar-track {
            background: #fff;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 2px;;
            background: #e8e8e8;
        }
    }

    .amgdprcookie-modal-container .modal-content {
        padding: 0;
    }

    .amgdprcookie-groups-container {
        overflow-y: scroll;
        height: 58vh;
        min-height: 170px;
        box-shadow: 0 -2px 18px rgba(0, 0, 0, .06);
        direction: rtl;
    }

    .amgdprcookie-policy-container {
        padding: 24px;
        box-shadow: 0 -2px 18px rgba(0, 0, 0, .06);
    }

    .amgdprcookie-text-container {
        & {
            margin-bottom: 30px;
        }

        .amgdprcookie-policy {
            display: inline;
        }
    }

    .amgdprcookie-buttons-block {
        & {
            display: flex;
            justify-content: space-between;
        }

        .amgdprcookie-button {
            & {
                padding: 10px 15px;
                border: none;
                border-radius: 3px;
                background: #fff;
                box-shadow: none;
                color: #5384ec;
                text-transform: uppercase;
                letter-spacing: 1.35px;
                font-weight: bold;
                transition: opacity .3s ease;
            }

            &:hover {
                opacity: .9;
            }

            &.-save {
                flex-basis: 35%;
                margin-left: 10px;
                background: #5384ec;
                color: #fff;
            }
        }
    }

    .amgdprcookie-modal-template {
        margin-left: 5px;
        background: #fff;
    }

    .amgdprcookie-bar-container {
        z-index: 10;
        margin: 0;
        padding: 12px 20px 12px 25px;
        border-color: #d6ca8e;
        background: #ffee9c;
        font-size: 13px;
    }

    .amgdprcookie-bar-template {
       & {
           position: fixed; /* added to support older browsers */
           position: sticky;
       }

        &.-bottom {
            position: static;
        }
    }
}

//
//  Tablet
//  ----------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .amgdprcookie-main-wrapper {
        & {
            padding: 0;
        }

        .amgdprcookie-top {
            margin-bottom: 35px;
        }

        .amgdprcookie-head {
            font-size: 34px;
            line-height: normal;
        }

        .amgdprcookie-btn {
            padding: 17px 46px;
            font-size: 20px;
            box-shadow: 0 3px 10px rgba(62, 40, 13, .15);
            text-transform: none;
        }
    }

    .amgdprcookie-cookie-container {
        & {
            margin-bottom: 30px;
            padding: 25px 0;
        }

        .amgdprcookie-header {
            display: flex;
            justify-content: flex-start;
            padding: 0 25px;
        }

        .amgdprcookie-caption {
            margin: 0 64px 10px 0;
            font-size: 20px;
        }

        .amgdprcookie-toggle-cookie {
            padding-left: 0;
        }

        .amgdprcookie-text {
            padding: 0 25px;
            font-size: 14px;
        }

        .amgdprcookie-options {
            & {
                display: inline-block;
                margin-top: 22px;
                padding: 0 25px;
                font-size: 14px;
                color: #8a837f;
                background: inherit;
            }

            &:hover {
                color: @amgdprcookie-link__hover__color;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                height: 2px;
                width: 10px;
                background: #8a837f;

            }

            &:before {
                right: 6px;
                transform: rotate(45deg);
            }

            &:after {
                right: 0;
                transform: rotate(-45deg);
            }
        }

        .amgdprcookie-check.active .amgdprcookie-options {
            & {
                color: @amgdprcookie-text__color;
            }

            &:hover {
                color: @amgdprcookie-link__hover__color;
            }

            &:before,
            &:after {
                background: @amgdprcookie-text__color;
            }
        }
    }

    .amgdprcookie-content-wrapper {
        & {
            margin: 25px 25px 0;
            padding: 0 15px;
            font-size: 14px;
        }

        .amgdprcookie-title {
            padding: 15px 15px 0 0;
            vertical-align: top;
        }

        .amgdprcookie-row {
            & {
                border-bottom: 1px solid #ccc;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .amgdprcookie-row .amgdprcookie-cell {
            & {
                padding: 15px 15px 15px 0;
            }

            &:first-child {
                width: 20%;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .amgdprcookie-modal-container .modal-inner-wrap {
        right: unset;
        min-width: 400px;
        width: 21%;
        background: #fff;
    }
}

//
//  Desktop
//  ----------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .amgdprcookie-content-wrapper .amgdprcookie-table .amgdprcookie-cell:first-child {
        width: 17%;
    }
}
