<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_GdprCookie
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_gdprcookie" translate="label" type="text" sortOrder="31503" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cookie Consent</label>
            <tab>amasty</tab>
            <resource>Amasty_GdprCookie::config</resource>
            <group id="cookie_policy" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="bar" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cookie Policy Bar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="first_visit_show" translate="label tooltip" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide the Cookie Bar if No Decision Was Taken</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>The cookie bar will not be displayed to a customer on new pages if he doesn't accept or decline cookies. Thus the customer will less distracted from purchasing. </tooltip>
                    <depends>
                        <field id="website_interaction">0</field>
                    </depends>
                </field>
                <field id="allowed_urls" translate="label comment tooltip" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Urls</label>
                    <comment><![CDATA[You can use a part of URL as per example: privacy-policy-cookie-restriction-mode</br>Each URL must be on a new line.<br>To allow homepage please use reserved word: <strong>homepage</strong>]]></comment>
                    <tooltip>A customer will be allowed to interact with the website on the following pages.</tooltip>
                    <depends>
                        <field id="bar" separator=",">1</field>
                        <field id="website_interaction">1</field>
                    </depends>
                </field>
                <field id="confirmation_bar_text" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Text</label>
                    <comment>You can use any HTML-tags in this field. Please, mind the security.</comment>
                    <depends>
                        <field id="bar">1</field>
                    </depends>
                </field>
                <field id="cms_to_show" translate="label comment tooltip" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Settings CMS Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <tooltip>The page where a customer can enable/disable the usage of cookie groups and read all the information about existing cookies.</tooltip>
                    <comment><![CDATA[<strong>Note:</strong> If changing to another CMS page add "Amasty Cookie Settings" widget on it.]]></comment>
                    <depends>
                        <field id="bar">1</field>
                    </depends>
                </field>
                <field id="bar_visibility" translate="label tooltip" type="select" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Countries Restrictment</label>
                    <source_model>Amasty\GdprCookie\Model\Config\Source\CountriesRestrictment</source_model>
                    <tooltip>It is possible to adjust the visibility of Cookie Policy Bar on frontend according to customer location. Enable the Cookie Policy Bar for All Countries, EEA Countries or specific Countries selected in the list below..</tooltip>
                    <depends>
                        <field id="bar">1</field>
                    </depends>
                </field>
                <field id="bar_countries" translate="label" type="multiselect" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display for Specific Countries</label>
                    <source_model>Amasty\GdprCookie\Model\Config\Source\Countries</source_model>
                    <depends>
                        <field id="bar">1</field>
                        <field id="bar_visibility">2</field>
                    </depends>
                </field>
                <field id="website_interaction" translate="label tooltip" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Wall</label>
                    <tooltip>Cookie Wall does not let a customer interact with the website until he/she accepts or declines cookies. The usage of cookie walls is not allowed according to GDPR.</tooltip>
                    <source_model>Amasty\GdprCookie\Model\OptionSource\NoRecommended</source_model>
                    <depends>
                        <field id="bar">1</field>
                    </depends>
                </field>
                <field id="auto_cleaning_days" translate="label tooltip" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Log Auto-Cleaning Period (Days)</label>
                    <tooltip>The records that were saved for a longer period will be automatically removed from the log.</tooltip>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="bar">1</field>
                    </depends>
                </field>
            </group>
            <group id="cookie_bar_customisation" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cookie Bar Customization</label>
                <field id="cookies_bar_style" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Style</label>
                    <source_model>Amasty\GdprCookie\Model\Config\Source\CookiePolicyBarStyle</source_model>
                </field>
                <field id="cookies_bar_location" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Location</label>
                    <comment>Choose the location of your cookie policy bar</comment>
                    <source_model>Amasty\GdprCookie\Model\Config\Source\CookieBarLocation</source_model>
                    <depends>
                        <field id="cookies_bar_style">0</field>
                    </depends>
                </field>
                <field id="background_color_cookies" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Background Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
                <field id="text_color_cookies" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Policy Text Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
                <field id="header_text_color_cookies" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Cookie Group Title Text Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
                <field id="description_text_color_cookies" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Cookie Group Description Text Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
                <field id="buttons_color_cookies" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar 'Allow Cookies' Button Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
                <field id="buttons_text_color_cookies" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar 'Allow Cookies' Button Text Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
                <field id="buttons_color_cookies_save" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar 'Save' Button Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                    <depends>
                        <field id="cookies_bar_style">1</field>
                    </depends>
                </field>
                <field id="buttons_text_color_cookies_save" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar 'Save' Button Text Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                    <depends>
                        <field id="cookies_bar_style">1</field>
                    </depends>
                </field>
                <field id="buttons_color_cookies_settings" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar 'Cookies Settings' Button Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                    <depends>
                        <field id="cookies_bar_style">0</field>
                    </depends>
                </field>
                <field id="buttons_text_color_cookies_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar 'Cookies Settings' Button Text Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                    <depends>
                        <field id="cookies_bar_style">0</field>
                    </depends>
                </field>
                <field id="link_color_cookies" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Bar Links Color</label>
                    <comment><![CDATA[Click the field to choose color]]></comment>
                    <frontend_model>Amasty\GdprCookie\Block\Color</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
